/*Css reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.ProductCard {
  min-height: 100%;
}

.Carousel{
  width:700px;
  margin: auto;
}

.Carousel1{
  height:550px;
}
